#score_table
{
  padding:30px 5px;
  margin: 0px auto;
}
.score_table_header
{
  border-style: solid;
  border-color: white;
  border-width: 0px;
  padding:4px 5px;
  background-color: #acf;
  font-weight: bold;
  text-align: center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.cell_name
{
  padding:4px 5px;
  background-color: #acf;
  font-weight: bold;
  text-align:right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.cell_score
{
  border-style: solid;
  border-color: white;
  border-width: 0px;
  width:30px;
  text-align: center;
  padding: 4px 5px;
}
.blue
{
  background-color: #cef;
}
.joly
{
  border-width: 2px;
  border-color: black;
}
.correct
{
  background-color: #9cf198;
}
.wrong
{
  background-color: #fca9a9;
}
.white
{
  background-color: #f1f1f1;
}
